html {
    scroll-behavior: smooth;
}
.container-fluid{
    padding-top: 10%;
    padding-bottom: 10%; 
}

/* Navbar */

#navbar{
    background-color: #d5dbe3;
}
.navbar-brand{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}

.nav-link{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

/* Jumbotron*/

.jumbotron{
    margin-top: 40px;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #2cacd7;
}

.display-4 {
    font-family: 'Playfair Display SC', serif;
    color: #ffffff;
    font-size: 6vw;
    text-align: center;
}

.hr1{
    border: 1px solid #ffffff;
}

.lead{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5vw;
    letter-spacing: 11px;
    color: #ffffff;
    text-align: center;
}

/* Personal Highlight*/

#judul-PH{
    font-size: 5vw;
    color: #0492c2;
    font-family: 'Arvo', serif;
    text-align: left;
}

#personalhighlights{
     padding-top: 5%;
}

.foto1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    width: 60%;
}

#highlights{
    margin-top: 50px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}

.foto{
    width: 60px;
    height: 60px;
}

#icon{
    margin-top: 1px;
    margin-left: 80px;
     
 }
 
 #icon1{
    margin-left: 30px;
 }
 
 #icon2{
    margin-left: 30px;
 }
 
 #icon3{
    margin-left: 30px;
 }

 /* experiences & education */

#experience{
    background-color: #2cacd7;
}

#judul{
    font-size: 5vw;
    color: #ffffff;
    font-family: 'Arvo', serif;
}

#portfolio{
    padding-top: 10%;
    padding-bottom: 15%;
    background-color: #2cacd7;  
}

#judul-exp{
    font-size: 4vw;
    margin-top: 15vw;
    text-align: center;
    color: #ffffff;
    font-family: 'Arvo', serif;
}

#exp{
    font-size: 2vw;
    margin-top: 7vw;
    text-align: left;
    color: #ffffff;
    font-family: 'Arvo', serif;
}

 #judul-EDU{
        font-size: 5vw;
        color: #0492c2;
        font-family: 'Arvo', serif;
        text-align: center;
        }

.edu-year{
    color: #0492c2;
    margin-top: 20px;
    font-family: 'Arvo', serif;
    font-size: 2vw;
    text-align: center;
}

.foto-edu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; 
    width: 50%;
}

/* Skill */

#judul-skill{
    font-size: 5vw;
    margin-top: 15vw;
    text-align: center;
    color: #0492c2;
    font-family: 'Arvo', serif;
}

#skill{
    font-size: 2vw;
    margin-top: 4vw;
    text-align: right;
    color: #0492c2;
     font-family: 'Arvo', serif;
}
    
/* This is my life */

#judul-TIML{
    font-size: 5vw;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    text-align: center;

}
.mylife{
    width: 280px;
    height: 280px;
    margin-top: 60px;
}

.mylife-1{
    
    width: 280px;
    height: 320px;
    margin-top: 150px;
}

#more{
    background-color: #2cacd7;
}



        
@media ( max-width: 768px){
    /* jumbotron */
    .display-4 {
        font-family: 'Playfair Display SC', serif;
        color: #ffffff;
        font-size: 8vw;
    }
    
    .hr1{
        border: 1px solid #ffffff;
    }
    
    .lead{
        font-family: 'Ubuntu', sans-serif;
        font-size: 5vw;
        letter-spacing: 7px;
        color: #ffffff;
    }
    /* Personal Highlight*/

    #judul-PH{
        font-size: 7vw;
        color: #0492c2;
        font-family: 'Arvo', serif;
        text-align: center;
     }
    
   
    #highlights{
        margin-top: 50px;
        font-size: 4vw;
        }

    .foto{
        width: 12vw;
        height: 12vw;
    }

    #icon{
        margin-top: 30px;
        margin-left: 5vw;
        
    }
    
    #icon1{
        margin-left: 8vw;
    }
    
    #icon2{
        margin-left: 8vw;
    }
    
    #icon3{
        margin-left: 8vw;
    }

    /* experiences & education */

    #judul{
        font-size: 7vw;
        font-family: 'Arvo', serif;
    }

    #judul-exp{
        font-size: 7vw;
        margin-top: 80px;
        text-align: center;
        color: #ffffff;
        font-family: 'Arvo', serif;
    }
    
    #exp{
        font-size: 3.5vw;
        margin-top: 4vw;
        margin-left: 5vw;
        text-align: left;
    }

     #judul-EDU{
        font-size: 7vw;
        color: #0492c2;
        font-family: 'Arvo', serif;
        text-align: center;
        }

    .edu-year{
        color: #0492c2;
        margin-top: 20px;
        font-family: 'Arvo', serif;
        font-size: 4.5vw;
    }
    
    .foto-edu{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px; 
        width: 35%;
    }
    

    /* Skill*/

    #judul-skill{
        font-size: 7vw;
        margin-top: 5vw;
        text-align: center;
        
    }

    #skill{
    font-size: 3.5vw;
    margin-top: 5vw;
    text-align: center;
}
/* This is my life */

#judul-TIML{
    font-size: 7vw;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}

.mylife{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; 
    width: 60vw;
    height: 60vw;
}

.mylife-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; 
    width: 60vw;
    height: 60vw;
}
    
}

